body{
    background-color: rgb(194, 211, 214);
}
h2{color:rgb(0, 107, 71);}
h3{color:rgb(0, 107, 71);}
hr{

    background-color: rgb(194, 211, 214);
    border-style: dotted;
    border-color:grey;
    border-width: 8px;
    border-bottom-style: none;
    height: 0px;
    width: 3%;

  }